@page {
    size: A4 landscape;
    margin: 10mm;
}

body {

    margin: 0;
    padding: 0;
    /*border: 1mm solid #991B1B;*/
    height: 188mm;
}

.border-pattern {
    position: absolute;
    left: 4mm;
    top: -6mm;
    height: 200mm;
    width: 267mm;
    border: 1mm solid #eb09a0;
    background: rgb(238,174,202);
    /*background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/
    /*background-blend-mode: screen, color-dodge, overlay, difference, normal;*/
}


.content {
    position: absolute;
    left: 10mm;
    top: 10mm;
    height: 178mm;
    width: 245mm;
    border: 0.5mm solid #eb09a0;
    background: white;
}

.inner-content {
    border-bottom: 0.5mm solid #eb09a0;
    margin: 4mm;
    padding: 10mm;
    height: 148mm;
    text-align: center;
    background-image: url("title.png");
    background-repeat: no-repeat;
    background-size: 100%;



}


h1 {
    text-transform: uppercase;
    font-size: 48pt;
    margin-bottom: 0;
    margin-top: px;
    color: white;
    opacity: 0%;
}

h2 {
    font-size: 24pt;
    margin-top: 0;
    padding-bottom: 1mm;
    display: inline-block;
    border-bottom: 0.5mm solid #eb09a0;
    text-shadow: 0.5px 2.5px 10px rgba(207, 207, 207, 0.5);
    font-weight: 150;
}

h2::after {
    content: "";
    display: block;
    padding-bottom: 4mm;
    border-bottom: 0.5mm solid #eb09a0;
}

h3 {
    font-size: 20pt;
    margin-bottom: 0;
    margin-top: 5mm;
    text-shadow: 0.5px 2.5px 10px rgba(207, 207, 207, 0.5);
}

p {
    font-size: 16pt;
    margin-top: 15px;
    text-shadow: 0.5px 2.5px 10px rgba(233, 233, 233, 0.5);
}

h3#dedication { font-size: 30px;
                margin: 40px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
              }
              
p#data { margin: 20px 0px 20x 0px;}

p#dedication2 {font-size: 20px;
               margin: 0px 0px 20px 0px;
                }
 
.badge {
    width: 54mm;
    height: 41mm;
    position: absolute;
    right:  2mm;
    bottom: 11mm;
    background-image: url("right.png");
    background-repeat: no-repeat;
    background-size: 75%;
    opacity: 15%;
    
}

.badge2 {
    width: 54mm;
    height: 41mm;
    position: absolute;
    right:  173mm;
    bottom: 11mm;
    background-image: url("left.png");
    background-repeat: no-repeat;
    background-size: 75%;
    opacity: 15%;
    
}

div#current_date { margin: 0px;
                   padding-top: 5px;
                    }



.data {

        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        }



.grid-container {
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item-a {

    padding: 0px;
    font-size: 30px;
    text-align: center;
}

.grid-item-b {

    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item-c {

    padding: 0px;
    font-size: 30px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;

}


.date {
        font-size: 15px;
        padding-top: 40px;
        }

