body    { 
  background-color: #1c1e1f;
  color: rgb(254, 37, 134);
}

h1      { 
  font-family: sans-serif;
  text-align: center;
  padding: auto;
  margin: auto;
}

p       {
  font-family: monospace;
  font-size: 15px;
  margin-top: 2px;
  padding-bottom: 15px;
}

form   { 
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  width: 350px;
  margin: 0 auto;
  padding-bottom: 2em;
}


legend {font-size: 15px; text-align: center; font-style: italic;}

label  {
  margin: 0.5rem 0;
  font-family: monospace;
  font-size: 15px;
}

.block {display: block}
.sel { width: 75%; text-align: center;}

fieldset 
        { 
          padding-bottom: 20px; 
          padding-top: 10px; 
          margin-top: 20px; 
          margin-bottom: 20px;
        }

input, select, textarea {
                          background-color: #3b3b4f;
                          color: grey;
                        }


fieldset:last-of-type {
          
          padding:0px;
          border: none;
           }

footer {font-size: 20px;}

h2 { font-size: 15px; font-family: verdana; font-style: italic; color:#3b3b4f}