@page {
    size: A4 landscape;
    margin: 10mm;
}

body {

    margin: 0;
    padding: 0;
    /*border: 1mm solid #991B1B;*/
    height: 188mm;
}

.border-pattern {
    position: absolute;
    left: 4mm;
    top: -6mm;
    height: 200mm;
    width: 267mm;
    border: 1mm solid #eb09a0;
    background: radial-gradient(50% 123.47% at 50% 50%, #00FF94 0%, #720059 100%), linear-gradient(121.28deg, #669600 0%, #FF0000 100%), linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100FF 0%, #00FF57 100%), radial-gradient(100% 148.07% at 0% 0%, #FFF500 0%, #51D500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
}


.content {
    position: absolute;
    left: 10mm;
    top: 10mm;
    height: 178mm;
    width: 245mm;
    border: 1mm solid #991B1B;
    background: white;
}

.inner-content {
    border: 1mm solid #991B1B;
    margin: 4mm;
    padding: 10mm;
    padding-left: 0px;
    height: 148mm;
    text-align: center;
    background-image: url("title.png");
    background-repeat: no-repeat;
    background-size: 100%;



}


h1 {
    text-transform: uppercase;
    font-size: 48pt;
    margin-bottom: 0;
    margin-top: 45px;
    color: white;
    opacity: 0%;
}

h2 {
    font-size: 24pt;
    margin-top: 0;
    padding-bottom: 1mm;
    margin-left: 80px;
    display: inline-block;
    border-bottom: 1mm solid #991B1B;
}

h2::after {
    content: "";
    display: block;
    padding-bottom: 4mm;
    border-bottom: 1mm solid #991B1B;
}

h3 {
    font-size: 20pt;
    margin-bottom: 0;
    margin-top: 5mm;
}

p {
    font-size: 16pt;
    margin-top: 15px;
}

.badge {
    width: 40mm;
    height: 40mm;
    position: absolute;
    right: 10mm;
    bottom: 10mm;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z' /%3E%3C/svg%3E");
}



.grid-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item-a {

    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item-b {

    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item-c {

    padding: 0px;
    font-size: 30px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;

}